<div class="pages_admin">
    
  <div class="content_header clearfix">
    <%= image_tag('headings/admin/hd_pages_admin.gif', :class => 'header') %>
  </div>

  <%= flash[:page] %>


  <div class="page_content clearfix">

      <% unless @pages.blank? %>

        <div class="page_list">
          <ul>
            <% @pages.each do |page| %>
              <li><%= link_to page.title, edit_admin_page_path(page) %></li>
            <% end %>
          </ul>
        </div>

        </div>  

        <% else %>
          <h3>There are currently no pages here to edit</h3>
        <% end %>    
    </div>

  </div>

</div>