<div id="content_header">

  <h2>New event</h2>

  <h3 class="heading">You can add a new event here</h3>
</div>

<div class="form_wrapper clearfix">

  <% form_for [:admin, @event] do |event_form| %>
    <%= render :partial => "fields", :locals => {:event_form => event_form} %>

    <div>
      <%= submit_tag("Add this event to the listings", :id => 'create', :class => "submit_your_event awesome medium") %>
    </div>

  <% end %>
</div>
