<!-- TODO: Layout for me please -->
<p>You are now subscribed to email updates about <%= filter_core_description(@email_subscription.filter) %>.</p>
<p>You will only receive an email when new events are added. You will not receive more than one email a day.</p>
<p>You can <%= link_to("unsubscribe", unsubscribe_email_subscription_path(@email_subscription, :secret => @email_subscription)) %> at any time.</p>
<p><%= link_to("Return home.", root_path) %></p>
