<!-- TODO: Layout for me please -->
<p>You are now unsubscribed from email updates about <%= filter_core_description(@email_subscription.filter) %>.</p>
<p><%= link_to("Return home.", root_path) %></p>
