/*these admin styles should override the standard styles defined in master.css */

/*Base overide style*/

body.admin {
  background-color:#6d6f71;
}

/*Override styles for header*/
.admin .nav_banner {
  background-image: url('/images/css/admin_nav_menu_bg.jpg');
  background-position:0 1px;
}
.admin .nav li{
  background-image: url('/images/css/admin_nav_menu_icon_bg.jpg');
}
.admin .nav li a{
  background-image: url('/images/css/admin_nav_menu_icon_bg.jpg');
}
.content{
  background:#fff;
}

/* Extra Styling for Forms */

.form_wrapper form{
  float:left;
}
.secondary_options {
margin-left:42px;
width:260px;
background:#fff;
border:1px solid #c2c2c3;
padding:12px;
float:left;
}

/* Extra Styling for event select field */

.form_wrapper form .datetime select{
  width:auto;
  float:none;
}
.form_wrapper form select{
  float:left;
}
.form_wrapper form textarea{
  float:left;
}

.secondary_options li{
  list-style: none;
  margin-left:12px;
  padding:6px;
}
#results{
  margin-left:42px;
  margin-top:12px;
  float:left;
  padding:12px;
  border:1px solid #c2c2c3;
  background:#fff;
  width:800px;

}

.results li{
  list-style: none;
  float:left;
  width:170px;
  min-height:100px;
  border:1px solid #666;
  padding:8px;
  margin:6px;
}
