/*these admin styles should override the standard styles defined in master.css */

/*Base overide style*/

body.admin {
  background-color:#6d6f71;
}

/*Override styles for header*/
.admin .nav_banner {
  background-image: url('/images/css/admin_nav_menu_bg.jpg');
  background-position:0 1px;
}
.admin .nav li{
  background-image: url('/images/css/admin_nav_menu_icon_bg.jpg');
}
.admin .nav li a{
  background-image: url('/images/css/admin_nav_menu_icon_bg.jpg');
}
.content{
  background:#fff;
}

/* Extra Styling for event select field */

.form_wrapper form .datetime select{
  width:auto;
  float:none;
}
.form_wrapper form select{
  float:left;
}

  
.form_wrapper form textarea{
  float:left;
}