/**/

#selector{
  background-image:url(/images/css/selector_bg.png);
  width:960px;
  padding-top:2px;
  padding-bottom:4px;
  position:relative;
  min-height:18px;
}
#selector ul{
  display:inline;
  margin-left:45px;
}
#selector ul li{
  display:inline;
  list-style: none;
  color:#fff;
  font-weight:bold;
  font-family:Verdana,sans-serif;
  font-style: italic;
}
#selector ul li a{
  color:#fff;
  text-decoration: none;
  padding:3px 12px 18px 12px;  

}
#selector ul li.map a:hover, #selector ul li.map_selected a{
  color:#8b1713;  
  background-image:url(/images/css/selector_bg_hover.gif);
  background-position:-67px -10px;
}
#selector ul li.calendar a:hover, #selector ul li.calendar_selected a{
  color:#8b1713;  
  background-image:url(/images/css/selector_bg_hover.gif);
  background-position:-135px -10px;  
}
#selector ul li.list_view a:hover, #selector ul li.list_view_selected a{
  color:#8b1713;  
  background-image:url(/images/css/selector_bg_hover.gif);
  background-position:-70px -10px;
}

/* If no events exist */

h3.no_events{
  margin-top:36px;
}

/*calendar example preview styles*/

.example_calendar_view {
  margin-top:24px;
  position:relative;
  background-image:url(/images/example_calendar.jpg);
  background-repeat: no-repeat;
  width:959px;
  min-height:400px;
}

.example_calendar_view .help_text{
  background:url(/images/css/white_trans_90_pc.png);
  padding:18px;
  border:2px solid #c3c3c3;
  width:700px;
  position:absolute;
  left:100px;
  top:55px;
  
}
.example_calendar_view img.heading{
  margin-left:18px;
}
.example_calendar_view ol li{
  margin: 12px 0px 12px 52px;
  line-height:1.5em;
  font-size:1.33em;
  margin-bottom:12px;
}

.example_calendar_view h3{
  font-size:1.5em;
}

.example_calendar_view p{
  margin: 18px 0 0 18px;
  font-size:1.1em;
}


.calendar_view{
  width:860px;
}
.events .calendar_view table {
  margin-left:40px;
  margin-top:40px;
  margin-bottom:40px;
  width:100%;
  background-color:#fff;
}
.events .calendar_view th {
  border-bottom: 1px solid #DDD;
  text-align:center;
  color:#777;
  padding-bottom:8px;
}
.events .calendar_view td {
  border-bottom: 1px solid #DDD;
  border-right: 1px solid #DDD;
  vertical-align: top;
  width:14%;
}

.events .calendar_view td .day {

  padding:4px 4%;
  text-align:right;
  font-size:0.83em;
  font-style:italic;
}
.events .calendar_view td.notmonth {
  background-color: #DDD;
}
.events .calendar_view .event a {
  display:block;
  margin-top:5px;
  text-decoration:none;
  color:#781B30;
  max-height:1.8em;
  overflow:hidden;
}
.events .calendar_view .event a.allday {
  background-color:#781B30;
  color:#fff;
}

.events .calendar_view .more_link
{
   text-align: center;
   margin: 8px 0 0 0;
   
   background: #DFC4C3;
}

.events .calendar_view .more_link a{
  font-style:italic;
  font-size:0.9em;
  text-decoration: none;
}
.events .calendar_view a:hover{
  text-decoration: underline;
}
/* Map styles */

.events{
  padding-bottom:18px;
}

#events_map{
  border:1px solid #c3c3c3;
  width:875px;
  margin-left:42px;
  margin-top:36px;
  margin-bottom:24px;
}
#events_map ul li{
  list-style: none;
  font-size:12px;
}
li.gmap_resized{
  display:block;
}
h4.gmap_venue_title{
    font-weight:bold;
    font-size:1.13em;
}
p.gmap_venue_address{
    font-style:italic;
    color:#333;
}
li.gmap_resized p{
    font-weight:bold;
    font-size:0.83em;
}

li.gmap_resized h5{
  font-weight:bold;
  margin-top:6px  
}
#events_show h2 img.heading
{
   margin-left: 40px;
}

#events_show h3.heading{
  margin-top:6px;
  width:auto;
  font-size:1.33em;
}

#events_show h4 {
  margin-bottom:12px;
  margin-left:42px;
  font-size:1.33em;
}
#events_show a.listing{
  font-style:italic;
  text-decoration: underline;
  border:none;
  font-size:0.83em;
}
#events_show a:hover{
  text-decoration: none;
}

/* This refers to the item listed liston the left hand side */

#events_list{
  width:380px;
  float:left;
  margin-right:0px;
  background-image:none;
  border-right:1px solid #c9c9c9;
  border-bottom:1px solid #c9c9c9;
}
#events_list ul{
  border-right:1px solid #c9c9c9;
}
#events_list li.header{
  border-bottom:1px solid #c9c9c9;
  padding-bottom:12px;
  padding-top:18px;
}
#events_list li.foot{
  padding: 8px 0 12px 0;
  border-bottom:1px solid #c9c9c9;
}
li.event_link{

  border-bottom:1px solid #8b1713;
  list-style: none;
  background-color: transparent;
}
li.event_link a{
  display:block;
  text-decoration: none;
  font-style:italic;
  font-size:1.5em;
  width:80%;
  color:#8b1713;
  padding:12px 10% 12px 10%;
  background-color: transparent;
  line-height:1.2;
  overflow:hidden;
}
#events_list li.active span{
display:block;
text-decoration: none;
font-style:italic;
font-size:1.5em;
width:80%;
color:#8b1713;
padding:12px 10% 12px 10%;
background-color: transparent;
line-height:1.2;
overflow:hidden;
}

li.event_link a:hover{
  background-color:#fff;
  color:#8b1713;
}
li.event_link.active a, li.event_link.active a:hover, #events_list li.active span{
  background-color:#8b1713;
  color:#fff;
}

.listing{
  background-image:url('/images/tiles/list_gradient_event.jpg');
  background-repeat: repeat-y;
  background-position: 8px 0px;
  width:959px;
  border: solid #C2C2C3;
  border-width: 1px 0;
}
#events_list h2{
  font-size:1.5em;
  float:left;
  width:205px;
  text-align:center;
} 
.incrementor{
  float:left;
  width:85px;
  text-align:center;
}
ul li.header .next,
ul li.foot .next {
  float:right;
}
.incrementor a{
  font-style:italic;
  font-size:0.9em;
}
#event_details{
  padding-bottom:36px;
  width:578px;
  float:left;
  background-color:#fff;
  text-align:left;
}

#event_details .detail_list{
    border-bottom:1px solid #c9c9c9;
    background:#eee;
    padding-bottom:12px;
}
#event_details .detail_list .span-2{
  margin-top:12px;
}
#event_details .detail_list .last{
  border-right:none;
}
#event_details .detail{
  min-height:60px;
  padding-right:10px;
}

#event_details .detail .location_map
{
   padding-top: 8px;
}

.detail abbr.dtstart, abbr.dtend{
  float:left;
}
#event_details h2{
  font-size:1.5em;
  font-weight:bold;
  padding-left:18px;
  padding-bottom:13px;
  padding-top:18px;
  border-bottom:1px solid #c9c9c9;
}

#event_details h2 a{
  color: #000;
  text-decoration: none;
}
.detail_list ul.sm_icons{
  margin-top:20px;
}
.detail_list ul.sm_icons li{
  margin: 12px ;
}

.offensive
{
   padding-top: 12px;
   font-size: 0.9em;
}

.not_endorsed
{
   padding-top: 6px;
   font-size: 0.9em;
}
#event_details h4, #event_details img, #event_details p, #event_details div.time{
  float:left;
  clear:left;
}
#event_details h4, #event_details p, #event_details abbr{
  margin-left:4px;
}
#event_details h4{
  font-size:1em;  
  font-weight:bold;
}
#event_details img{
  margin-top:12px;
}
#event_details .description{
  margin-left:18px;
}

#events_show div.events{
  padding-bottom:0px;
}

/* Finding Duplicate Venue */

.existing_venues{
  float:left;
  width:350px;
  background:#fff;
  border:1px solid #c9c9c9;
  margin-left:42px;
  padding-bottom:18px;
}
.existing_venues form{
  width:250px;
  padding-left:15px;
}
#events_find_venue form{

  margin-left:10px;
}
.existing_venues h4{
  margin-right:12px;
  font-size:1.5em;
  line-height:1.2em;
}
#events_find_venue input.confirm_venue{
  margin-top:12px;
}

.fieldWithErrors input
{
   border: 1px solid #9D5540;
}

.add_a_new_venue{
  float:left;
}
.add_a_new_venue form{
  margin-top:0px;
}
.add_a_new_venue h4{
  padding-top:18px;
  margin-left:136px;
}
.add_a_new_venue div.input{
  margin-left:20px;
}
.add_a_new_venue input.add_this_venue{
  margin-left:120px;
}

/* Preview Styles */

div.event_preview #event_details{
  border: 1px solid #c9c9c9;
}

div.event_preview, div.form_submission{
  margin-left:auto;
  margin-right:auto;
  width:600px;
 
}
div.event_preview #event_details{
  width:600px;
}
div.form_submission form div{
   display: inline;
}

div.form_submission form{
  margin:0px;
  padding: 0;
  text-align:left;
  display: inline;
  background: none;
  border: none;
}

div.form_submission #edit_form
{
   margin-left: 40px;
   width: 200px;
}


.submit_message
{
  margin: 20px auto;
  
  background-color:#fff;
  border: 1px solid #C9C9C9;
  
  padding:18px;
  width:564px;
  
  position:relative;
}
 
.submit_message p{
  margin-bottom:12px;
}


/* What next */



div#whats_next{
  width:959px;
}

div#whats_next .content_block h4
{
   padding-bottom: 8px;
}

ul.post_event_choices{
  margin-left:42px;
  width:900px;
}

ul.post_event_choices li.content_block{
  background-image:none;
  background-color:#fff;
  list-style:none;
  padding:12px;
  width:250px;
  position:relative;
}

ul.post_event_choices li.content_block p{
  font-size:1.25em;
  margin-top:24px;
}
ul.post_event_choices li.content_block p a{
  font-size:1.15em;
}
ul.post_event_choices li.content_block h4 a{
  display:block;
  height:300px;
  position:absolute;
  width:250px;
  font-size:1.33em;
  margin-bottom:12px;
}
