/* this always needed */

legend{
position:relative;
left:-7px;
}

/*front page */

/*nudge IE6 over to centre the rowpa*/
.first_row{
  position:relative;
  left:8px;
}
#view_event_calendar img{
  margin-bottom:10px;
}

body#pages_index .content{
  background-position: 0 435px;
}
.standfirst{

  width:200px;
}
#view_event_calendar img{
  margin-top:30px;
  margin-bottom:6px;
}



.site_intro .featured_block {
  width:490px;
}
.secondary_content{
  margin-top:18px;
}
.photos_and_videos{
  width:990px;
}
.photos_and_videos .heading{
  margin-left:6px;
}
.videos .heading{
  margin-left:28px;
  display:inline;
}
.photos_and_videos .photos {
  width:430px;
  float:left;
  border-right: 1px solid #666;
  margin-bottom:12px;
  margin-left:20px;
  text-align:left;
}
.photos_and_videos .videos {
  width:460px;
  float:left;
  text-align:left;
  margin-bottom:12px;
}
ul.youtube_videos {
  margin-left:20px;
}

.nav li a{
    width:100px;
}
.secondary_block{
  height:340px;
}

h3.toggles{
  margin-left:20px;
}

h3.filter_description{
  width:600px;
  margin-left:20px;
}
.form_wrapper .tooltip_arrow{
  left:482px;
}
.span-2{
  display:inline;
}

#selector{
  height:18px;
}

/* For the News Page */

.content_wrapper .content{
margin-left:21px
}

/* For the Events pages */

.example_calendar_view{
  height:740px;
}

.events .calendar_view span.hidden{
  display:none;
}

.events .calendar_view p.event{
  margin:4px;
  padding:0px;
  height:1.3em;
  overflow:hidden;
}

/* Adding a new_event */
.form_wrapper form input#cyberevent, .form_wrapper form input#accept_tnc{
  margin: 5px 0px 0 100px;
  float:left;
}

#events_list{
  margin-right:0px;
  background-image:none;
  background-color:#fff;
}

li.event_link.active a{
  background-color:#555;
  color:#ffffff;
}
li.event_link a{
  width:80%;
}
#events_list li.active span{
  width:80%;
}

.existing_venues{
  margin-left:22px;
}
.existing_venues form, .add_a_new_venue form{
  margin-left:18px;
}
.new_venue form
.footer{
  padding-bottom:36px;
}

/* From jQuery UI */

/* IE6 IFRAME FIX (taken from datepicker 1.5.3 */
.ui-datepicker-cover {
    position: absolute; /*must have*/
    z-index: -1; /*must have*/
/*    filter: mask(); /*must have*/*/
/*    top: -4px; /*must have*/*/
    left: -4px; /*must have*/
    width: 200px; /*must have*/
    height: 200px; /*must have*/
}

#events_success .content{
  width:959px;
}
#events_success .footer{
  width:959px;
}

.admin .content_wrapper h3{
  font-size:1.5em;
}
