/* this always needed */

legend{
position:relative;
left:-7px;
}


/*front page */

.standfirst{
  
  width:200px;
}
.site_intro .featured_block {
  width:490px;
}
.secondary_content{
  margin-top:18px;
}
.photos_and_videos{
  width:990px;
}
.photos_and_videos .heading{
  margin-left:6px;
}
.videos .heading{
  margin-left:48px;
}
.photos_and_videos .photos {
  width:430px;
  float:left;
  border-right: 1px solid #666;
  margin-bottom:12px;
  margin-left:20px;
  text-align:left;
}
.photos_and_videos .videos {
  width:460px;
  float:left;
  text-align:left;
  margin-bottom:12px;
}
ul.youtube_videos {
  margin-left:20px;
}

.nav li a{
    width:100px;
}
.secondary_block{
  height:340px;
}

h3.toggles{
  margin-left:20px;
}

h3.filter_description{
  width:600px;
  margin-left:20px;
}
.form_wrapper .tooltip_arrow{
  left:482px;
}
.span-2{
  display:inline;
}

#selector{
  height:18px;
}

/* For the Events pages */

.example_calendar_view{
  height:740px;
}

/* Adding a new_event */
.form_wrapper form input#cyberevent, .form_wrapper form input#accept_tnc{
  margin: 5px 0px 0 100px;
  float:left;
}


#events_list{
  margin-right:0px;
  background-image:none;
  background-color:#fff;  
}

li.event_link.active a{
  background-color:#8b1713;
  color:#ffffff;
}
li.event_link a{
  width:80%;
}
#events_list li.active span{
  width:80%;
}


.existing_venues{
  margin-left:22px;
}
.existing_venues form, .add_a_new_venue form{
  margin-left:18px;
}
.new_venue form
.footer{
  padding-bottom:36px;
}