/* RESET */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, code,
del, dfn, em, img, q, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}
body { line-height: 1.5; }
table { border-collapse: separate; border-spacing: 0; }
caption, th, td { text-align: left; font-weight: normal; }
table, td, th { vertical-align: middle; }
blockquote:before, blockquote:after, q:before, q:after { content: ""; }
blockquote, q { quotes: "" ""; }
a img { border: none; }
/* END RESET */

/* Page Layout */

body {
  background-color:#7E2D36;
  font-size:12px;
  font-family: Verdana, sans-serif;
  line-height:18px;
  text-align:center;
}

.container,
.header h1
{
  width:940px;
  margin:0 auto;
  text-align:left;
}

.nav_banner {
  background-color:#fff;
  background-image: url('/images/css/nav_shadow.gif');
  padding-bottom:16px;
  background-position: bottom;
  background-repeat: repeat-x;
}

.nav {
  list-style: none;
  width:910px;
  padding-left:20px;
  margin:0 auto;
  text-align:left;
}

.nav li {
  display:inline-block;
  padding:6px 40px 6px 0;
  font-size:18px;
}

/* Site wide styles */

.content_block {
  background-color: #FFF;
  float:left;
  width:950px;
  margin-right:20px;
  margin-bottom:18px;
}

.content_block_content {
  padding:17px 20px;
  border: 1px solid #000;
}

.last {
  margin-right:0px;
}

.quarter_page {
  width:220px;
}

.half_page {
  width:460px;
}

/* Specific styles */

.site_intro .content_block {
  height:270px;
}

.site_intro .content_block_content {
  border:none;
}

.site_intro .featured_block {
  margin-left:-20px;
  padding:0;
  width:480px;
  overflow:hidden;
  position:relative;
}
.site_intro .featured_block img {
  width:100%;
}
.site_intro .featured_block h3 {
  position:absolute;
  top:234px;
  left:0;
  height:36px;
  background-color:#fff;
  width:100%;
  color:#781B30;
  font-size:1.5em;
  padding-top:9px;
  padding-left:20px;
}

.site_intro .featured_block .featured_event_nav {
  position:absolute;
  top:0;
  right:0;
  height:234px;
  width:20px;
  z-index:100;
  background-color:#40000B;
  text-align:center;
  color:#fff;
}

.site_intro .featured_block .featured_event_nav a {
  height:18px;
  display:block;
  color:#fff;
  text-decoration:none;
}

.site_intro .featured_block .featured_event_nav a.activeSlide {
  background-color:#fff; 
  color:#40000B;
}