<div id="events_list" class="span-6">
  <ul class="clearfix">
    <li class="header clearfix">
      <div class="incrementor"><%= link_to "prev day", :class => 'trigger' %></div>
      <h2><%= day.strftime("%A %e %b") %></h2>
      <div class="incrementor"><%= link_to "next day", :class => 'trigger' %></div>
      
    </li>
    
    <% @event.same_day_events.each do |event| %>
      <li class="event_link"><%= link_to event.title, path_for_event(event) %></li>
    <% end %>
  </ul>  
</div>
