<div class="example_calendar_view">

  <div class="help_text">
    <%= image_tag('headings/hd_how_to_use_this_site.gif', :alt => "How to use this site", :class => "heading")%>

    <ol>
      <li>Click 'find events in your area', at the top of the page. </li>
      <li>If you'd like to, enter your postcode or select a subject that interests you.</li>
      <li>You'll see a calendar of events that match your search.</li>
      <li>Click on individual events to find out more.</li>
    </ol>

    <p>Organising an event? <a href="#new_event">Add it to the calendar &raquo;</a></p>

  </div>

</div>
