<div class="example_calendar_view">
  
  <h3>This site generates customised calendars of events during the Festival of Learning. Here's how to use it:</h3> 
  
  <h3>1) Click 'find events in your area', and fill our the form to start your search.</h3>
  
  <h3>2) You'll get a calendar like the one below made for you, based on what what you're looking for.</h3>
  
  <h3>3) You can sign-up to be notified of future events by email, or subscribe to them in your own calendar.</h3>
  
  <h3>4) If you're organising an event, you can add it here and have it show up when other people search in future.</h3>
  
  <%= image_tag('example_calendar.jpg') %>
  
</div>