<div class="example_calendar_view">

  <div class="help_text">

    <%= image_tag('headings/hd_how_to_use_this_site.gif', :alt => "How to use this site", :class => "heading")%>

    <h3>This site generates customised calendars of events during the Festival of Learning. Here's how to use it:</h3> 

    <ol>

      <li>Click 'find events in your area'. If you'd like to, enter your postcode or select an area of interest.</li>

      <li>You'll get a calendar made for you, based on what what you're looking for.</li>

      <li>You can subscribe and get events in your own calendar, or in a feed reader.</li>

      <li>If you're organising an event, you can add it here and have it show up when other people search.</li>

    </ol>

  </div>
  
</div>