<div class="example_calendar_view">

  <div class="help_text">

    <%= image_tag('headings/hd_how_to_use_this_site.gif', :alt => "How to use this site", :class => "heading")%>

    <h3>This site generates customised calendars of events during the Festival of Learning. Here's how to use it:</h3> 

    <ol>

      <li>Click 'find events in your area', and fill our the form to start your search.</li>

      <li>You'll get a calendar like the one below made for you, based on what what you're looking for.</li>

      <li>You can sign-up to be notified of future events by email, or subscribe to them in your own calendar.</li>

      <li>If you're organising an event, you can add it here and have it show up when other people search in future.</li>

    </ol>

  </div>
  
</div>