<div class="events clearfix">

  <div id="content_header" class='clearfix'>

  <h2>Add your event to the calendar</h2>
  <% unless @new_event.errors.blank? %>
    <div id="errors" class="ui-widget">
      <div class="ui-state-error ui-corner-all">
        <%= error_messages_for :new_event %>
      </div>
    </div>
  <% end %>

  </div>


<%= render :partial => "new_event" %>
</div>
