<div class="events">
	
<%= render :partial => 'event_search_filter' %>


	<div id="selector">
		<ul>
			<li>Display results as a:</li>
			<li class="map">Map</li>
			<li class="calendar">Calendar</li>
			<li class="list view">List</li>
		</ul>
	</div>


<%= render :partial => 'calendar' %>

</div>