<div id="content_header" class="clearfix">

  <% if flash[:notice] %>
    <div class="flash ui-widget">
      <div class="ui-state-highlight ui-corner-all">
        <%= flash[:notice] %>
      </div>
    </div>
  <% end %>

  <h2>Great! Your event's bene successfully submitted</h2>

      <h3 class="heading">Your event has been added to the system and will appear on the calendar as soon as it's been approved. Here's what you can do in the meantime:</h3>

</div>

<div class="events">

  <div class="content_wrapper">


    <ul class="post_event_choices row">

      <li class="content_block">

      <h4>Add another event</h4>

    <p>
      Have you got another event you could add to the calendar?
    </p>

    <p>
      You can submit any event you think is suitable. You don't have to be running it yourself.
    </p>

    <p><%= link_to "Add another event  &raquo;", current_events_path+"#new_event" %></p>

      </li>

      <li class="content_block">

      <h4>Promote your event</h4>

    <p>
      If you're running an event, it's usually essential to promote it.
    </p>

    <p>
      We've got lots of promotional materials you can use to help make your event a success.
    </p>

    <p><%= link_to "Promote your event &raquo;", "/promote-your-event" %></p>


      </li>

      <li class="content_block">

      <h4>Do something else</h4>

    <p>Do this do that.</p>

    <p>Do it.</p>

    <p><%= link_to "Buy something &raquo;", "http://buy.labs.thedextrousweb.com/" %></p>
    </li>


    </ul>

</div>

</div>
