<div class='content sidebar'>

    <% if @latest_youtube_vid_url %>
      <div class="block featured_youtube">
       <h3 class="tk-gunplay">Event Thing on Youtube</h3>
         <object width="340" height="243" type="application/x-shockwave-flash" data="<%= @latest_youtube_vid_url %>">
           <param name="movie" value="<%= @latest_youtube_vid_url %>" />
         </object>

         <%= link_to "See the latest videos from our YouTube channel", "http://www.youtube.com/user/communitychannel" %>
       </div>
     <% end %>

      <div class="block flickr_feed">
         <h3>See our latest photos</h3>
         <p class="flickr_photos">See the latest photos from our flickr stream here.</p>
      </div>

      <div class="block twitter_feed">
        <h3>Follow us on Twitter</h3>
        <p>We're <%= link_to "@natalietran", "http://twitter.com/natalietran" %> on Twitter.</p>
      </div>

    </div>


