<div class='content sidebar'>

      <div class="block featured_youtube">

        <h3 class="tk-gunplay">Festival of Learning on Youtube</h3>

        <object width="340" height="243">
          <param name="movie" value="<%= @latest_youtube_vid_url %>&amp;hl=en&amp;fs=1"></param>
          <param name="allowFullScreen" value="true"></param>
            <param name="allowscriptaccess" value="always"></param>

          <embed src="<%= @latest_youtube_vid_url %>&amp;rel=0&amp;color1=0xb1b1b1&amp;color2=0xcfcfcf&amp;feature=player_profilepage&amp;fs=1" type="application/x-shockwave-flash" allowfullscreen="true" allowScriptAccess="always" width="340" height="243"></embed>
        </object>
        
        <%= link_to "See the latest videos from our YouTube channel", "http://www.youtube.com/user/learnrevolution", :class => "youtube_video_player" %>
      </div>

      <div class="block flickr_feed">
         <h3>See our latest photos</h3>
         <p class="flickr_photos">See the latest photos from our flickr stream here.</p>
      </div>

      <div class="block twitter_feed">
        <h3>Follow us on Twitter</h3>
        <p>We're <%= link_to "@learnrevolution", "http://twitter.com/learnrevolution" %> on Twitter.</p>
      </div>

    </div>
    
    
