<div class="site_intro clearfix">
  <div class="content_block half_page">
    <div class="content_block_content">
      <h2>Teach Yourself A Lesson</h2>
      <p></p>
    </div>
  </div>
  
  <div class="content_block half_page featured_block last">
    <div class="featured_events">
      <% Event.featured.each_with_index do |event, count| %>
        <div class="featured_event" id="featured_event_<%= count+1 %>">
          <%= image_tag event.picture %>
          <h3><%= event.title %></h3>
        </div>
      <% end %>
    </div>
    <div class="featured_event_nav">
    </div>
  </div>
</div>

<div class="clearfix">
  <div class="content_block half_page">
    <div class="content_block_content">
      <h2>Featured New and Stories</h2>
    </div>
  </div>
  <div class="content_block quarter_page">
    <div class="content_block_content">
      <h2>Latest from Ning</h2>
    </div>
  </div>
  <div class="content_block quarter_page last">
    <div class="content_block_content">
      <h2>Festival Tweets</h2>
    </div>
  </div>
</div>

