<div class="cms">

<div id="content_header">
  <h2><%= @page.title %></h2>
</div>

<div class="content_wrapper">
 <div class="<%= @page.slug %> content clearfix">
   <%= @page.content %>
 </div>

 <%= render :partial => 'pages/content_sidebar' %>

</div>

</div>
