<div id="content_header">

  <h2>Edit venue</h2>

  <h3 class="heading">Something.</h3>

  <%= (flash[:venue].nil? ? '' : "<div class='admin_flash'>#{flash[:venue]}</div>") %>
  <%= (flash[:duplicates].nil? ? '' : "<div class='admin_flash'>#{flash[:duplicates]}</div>") %>
</div>

<div class="form_wrapper">

<% form_for [:admin, @venue] do |venue_form| %>
  <%= render :partial => "fields", :locals => {:venue_form => venue_form} %>
  <p><%= venue_form.submit "Save" %></p>
<% end %>
</div>
