<div id="content_header">
  <h2>Users admin</h2>
  <h3>New user</h3>

  <%= (flash[:user].nil? ? '' : "<div class='admin_flash'>#{flash[:user]}</div>") %>

</div>

<div class="form_wrapper clearfix">

<% form_for [:admin, @user] do |user_form| %>
  <%= render :partial => "fields", :locals => {:user_form => user_form} %>
  <p><%= user_form.submit "Save" %></p>
<% end %>

</div>
