<h2>Festival of Learning Admin Area </h2>
<div id="query" class="clearfix">
  <div class="current_event_filtering clearfix">
    <div class="span-11">
      <%= flash[:notice] %>
    </div>

  </div>
  
  <div class="event_filtering clearfix">
    
  </div>
  
</div>
