<div id="content_header"> 
   <%= image_tag('headings/hd_embarassing.gif', :class => "heading", :alt => "Well this is embarassing...") %>
</div>

<div class="content_wrapper">
   <div class="content">
      <h3 class="heading"><% if @status == 500 %>Internal server error <% elsif @status == 404 %>The page you were looking for can't be found.<% end %></h3>
      <p>We're sorry &mdash; something's gone wrong. Our staff have been automatically notified and we'll fix the problem as soon as we can.</p>
      
      <p>Please come back a bit later and try again.</p>
      
      <p>If you'd like to contact us in the meantime, please send an email to <a href="mailto:learningrevolution@bis.gsi.gov.uk">learningrevolution@bis.gsi.gov.uk</a>.</p>
   </div>
</div>

