<div id="content_header">
  
 <%= image_tag('headings/hd_embarassing.gif', :class => "heading", :alt => "This is embarassing") %>
  
</div>

  <div class="content_wrapper">

    <div class="content">

       <h3 class="heading"><% if @status == 500 %>Internal server error <% elsif @status == 404 %>The page you were looking for can't be found.<% end %></h3>

      <p>Apologetic copy here</p>

    </div>
  
</div>


