<div id="content_header">
  
 <%= image_tag('headings/hd_embarassing', :class => "heading", :alt => "This is embarassing") %>
  
 <h3 class="heading"><% if @status == 500 %>something broked<% elsif @status == 404 %>i had a web page but i eated it<% end %></h3>

</div>

  <div class="content_wrapper">

    <div class="content">

      <p>Apologetic copy here</p>

    </div>
  
</div>


