<div class="footer">
  <p>
   <a href="http://www.direct.gov.uk/en/SiteInformation/DG_4004497" >About Directgov</a>
   | 
   <a href="http://www.direct.gov.uk/prod_consum_dg/idcplg?IdcService=SS_GET_PAGE&amp;siteId=en&amp;ssTargetNodeId=7&amp;ssDocName=DG_020455" >Terms and conditions</a>
   | 
   <a href="http://www.berr.gov.uk/administration/privacy/index.html" >Your privacy</a>
   | 
   <a href="http://www.direct.gov.uk/en/SiteInformation/DG_020460" >(c) Crown Copyright</a>
 </p>
</div>
