<div class="footer">
  <p>
   <a href="http://www.direct.gov.uk/en/SiteInformation/DG_4004497" >About Directgov</a>
   | 
   <a href="/terms-conditions" >Terms and conditions</a>
   | 
   <a href="/privacy" >Your privacy</a>
   | 
   <a href="http://www.direct.gov.uk/en/SiteInformation/DG_020460" >Crown Copyright &copy; </a>
 </p>
</div>
